* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'rubik', sans-serif;
}

.upload-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.image-container  img {
  width: 30%;
}